.notFound {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  img {
    margin-bottom: 40px;
  }
  .notFound__action {
    a {
      color: #000;
      body.dark-mode & {
        color: #fff;
      }
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 800px) {
  .notFound {
    left: 0;
    img {
      width: 100%;
    }
  }
}
