.notFound {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center; }
  .notFound img {
    margin-bottom: 40px; }
  .notFound .notFound__action a {
    color: #000;
    font-size: 1.5rem; }
    body.dark-mode .notFound .notFound__action a {
      color: #fff; }

@media (max-width: 800px) {
  .notFound {
    left: 0; }
    .notFound img {
      width: 100%; } }
